In [1]:
import numpy as np
import pandas
from matplotlib import pyplot as plt
from astroquery.simbad import Simbad

In [28]:
# Getting Oka et al. 2001 data
Oka_simbad = Simbad.query_objects(["NAME Sgr A West", "NAME Galactic Center", 'NAME Sgr A-E', 'CO 000.02-00.02', 'GCM -0.02 -0.07', '[OHS2001b] Minor Shell', '[OHS2001b] Major Shell', ' 	CO 001.27+00.01'])
Oka_simbad

<Table length=8>
       MAIN_ID               RA      ...     COO_BIBCODE     SCRIPT_NUMBER_ID
                          "h:m:s"    ...
        object             str13     ...        object            int32
---------------------- ------------- ... ------------------- ----------------
       NAME Sgr A West    17 45 39.4 ...                                    1
  NAME Galactic Center 17 45 39.6021 ... 2018A&A...612A...1H                2
          NAME Sgr A-E  17 45 41.131 ... 1998ApJS..118..201L                3
       CO 000.02-00.02       17 45.7 ... 1998ApJS..118..455O                4
       GCM -0.02 -0.07    17 45 50.4 ...                                    5
[OHS2001b] Minor Shell       17 48.2 ... 2001PASJ...53..787O                6
[OHS2001b] Major Shell    17 48 33.9 ... 2021ApJ...910...61T                7
       CO 001.27+00.01       17 48.6 ... 2001PASJ...53..787O                8

In [27]:
# Kauffmann et al. 2017 data:
# 2 ESO, 13 SIMBAD, 1 Herschel
Kauffmann_simbad = Simbad.query_objects(['M 42', 'NAME Ori A', 'NAME Orion Molecular Cloud', '3C 273', 'NAME Sgr C', 'NAME Galactic Center', 'NAME Sgr A*', 'NAME the Brick', 'NAME Sgr B1', 'NAME Sgr B2', 'NAME Sgr D', '3C 379', 'NAME Gould Belt'])
Kauffmann_simbad

<Table length=13>
         MAIN_ID                 RA      ... SCRIPT_NUMBER_ID
                              "h:m:s"    ...
          object               str13     ...      int32
-------------------------- ------------- ... ----------------
                     M  42    05 35 16.8 ...                1
                NAME Ori A         05 38 ...                2
NAME Orion Molecular Cloud         05 56 ...                3
                    3C 273 12 29 06.6998 ...                4
                NAME Sgr C    17 44 36.3 ...                5
      NAME Galactic Center 17 45 39.6021 ...                6
               NAME Sgr A* 17 45 40.0359 ...                7
            NAME the Brick      17 46 09 ...                8
               NAME Sgr B1    17 47 02.0 ...                9
               NAME Sgr B2    17 47 20.4 ...               10
                NAME Sgr D   17 48 41.75 ...               11
                    3C 379       18 26.4 ...               12
           NAME Gould Belt               ...               13